/*************************** landing-page ***************************/

/****** DEFAULTS ******/

  .landing {
    background-color: #242424;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    margin: 0 auto;
    width: 100%
  }

  .landing--header {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 4em;
  }

  .landing--motto {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  .landing--horizontal-line {
    width: 20%;
    margin: 1em auto;
  }

  .landing--date {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  .landing--subscribe {
    font-size: 1em;
    height: 2.5em;
    background: transparent;
  }

  .landing--subscribe.form {
    margin: 0 auto;
    width: 40em;
    height: 10em;
  }


  .landing--subscribe:focus {
    outline: none;
  }

  .landing--subscribe.email {
    padding: 0;
    width: 15em;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 1em;
    text-align: center;
    color: #f5f5f5;
  }

  .landing--subscribe.button {
    width: 15em;
    color: #f5f5f5;
    border: 3px solid #f5f5f5;
  }

  .landing--subscribe.button:hover {
    color: #242424;
    background-color: #f5f5f5;
  }


/****** PHONE ******/
@media screen and (max-width: 568px) {

  .landing--header {
    font-weight: 700;
    font-size: 3em;
    margin: 0 0 1em 0;
  }

  .landing--subscribe.button {
    width: 10em;
  }

  .landing--subscribe.form {
    width: 20em;
  }

}

/****** IPAD / LAPTOP ******/
@media screen and (min-width: 569px) {

  .landing {
    max-width: 800px;
  }

  .landing--header {
    font-weight: 100;
    margin: 1em 0 3em 0;
  }

}